# **Lab Question Part 1 CSE475**

All the datasets are uploaded to Google Drive and linked with this colab file, you can directly access those datasets, or you can download, However you have to take necessary steps to load datasets.

For example, if you upload your dataset in your drive, you have to connect with your drive for do this run the drive.mount()

For this part, you should spend 30 minutes only. No more than extra time will be given.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

# Part 1

Instantiate an indexing object by using the Index() function from recordlinkage.

Block your pairing on cuisine_type by using indexer's' .block() method.

Generate pairs by indexing [restaurants](https://drive.google.com/file/d/1eHR7sQ6UJ-165wxbHURafLekziO8pzBU/view?usp=sharing) and [restaurants_new](https://drive.google.com/file/d/1oi4gCbaM95-PQYIOGPV2U_IMwaaUtYRW/view?usp=sharing) in that order.

Hint: Cleaning Data Assignment

Load the [audible_raw.csv](https://drive.google.com/file/d/1nU7pwDMSBG7KgIN_uJUhVRTSR4CBHdVh/view?usp=sharing) file and create a dataframe called audible

Remove 'Writtenby:' from the author column

Remove 'Narratedby:' from the narrator column

Check the results

use .str.extract() to get the number of stars and the number of ratings into their own columns.

Extract the number of stars into the rating_stars column
Extract the number of ratings into the n_ratings column
Convert both new columns to float
What you have to do?

Extract number of stars into rating_stars and turn into float

Replace the comma, extract number of ratings into n_ratings and turn into float

Examine the new rating_stars and n_ratings columns